extend layout 

block content
  h1= contributor.name

  div.contri-stages
    h1 Stages
    hr
    each stage in stages
      div.stageHolder
        div(style='display: flex; gap: 2rem; align-items: center')
          a(href= stage.url) #{stage.name}
        img(src=(undefined=== stage.pic ? '' : stage.pic) alt=stage.name)
    else 
      p No Stages Added By This User Yet

  div.contri-materials
    h1 Materials
    hr
    each material in materials
      div.materialHolder
        a(href=material.url) 
          img(src=(undefined===material.pic ? '' : material.pic) alt=material.name)
    else 
      p No Material Added By This User Yet

  hr
  li 
    a(href='/contributor/' + contributor._id + '/delete') Delete Contributor
  li 
    a(href='/contributor/' + contributor._id + '/update') Update Contributor