extend layout 

block content
  h1= contributor.name

  h1 Stages
  hr
  div.contri-stages
    each stage in stages
      div(style='display: flex; gap: 2rem; align-items: center')
        a(href= stage.url) #{stage.name}
        | Sanity Cost #{stage.sanity}
      img(src=(undefined=== stage.pic ? '' : stage.pic) alt=stage.name)
      p!= stage.descrip.replace(/\n/g, '<br>\n')
    else 
      p No Stages Added By This User Yet

  h1 Materials
  hr
  div.material-stages
    each material in materials
      a(href=material.url) #{material.name}
      img(src=(undefined===material.pic ? '' : material.pic) alt=material.name)
      p!= material.usage.replace(/\n/g, '<br>\n')
      p!= material.descrip.replace(/\n/g, '<br>\n')
    else 
      p No Material Added By This User Yet

  hr
  li 
    a(href='/contributor/' + contributor._id + '/delete') Delete Contributor
  li 
    a(href='/contributor/' + contributor._id + '/update') Update Contributor