extend layout

block content

  h1= title + ' : ' + contributor.name
    if materials.length != 0 && stages.length != 0
      h1 The following must be deleted before you can delete this contributor
      h1 Stages
      hr
      div.contri-stages
        each stage in stages
          p= stage.name
          img(src=(undefined=== stage.pic ? '' : stage.pic) alt=stage.name)
          p!= stage.descrip.replace(/\n/g, '<br>\n')

      h1 Materials
      hr
      div.material-stages
        each material in materials
          p= material.name
          img(src=(undefined===material.pic ? '' : material.pic) alt=material.name)
          p!= material.usage.replace(/\n/g, '<br>\n')
          p!= material.descrip.replace(/\n/g, '<br>\n')

    else 
      h1 Do You Really Want To Delete Contributor : #{contributor.name} ?
      form(method="POST" action='')
        input(type='hidden' name='contributorid' id='contributorid' value=contributor._id)
        div.inputForm
          label(for='pw') Admin Password : 
          input(type='text' name='pw' id='pw' placeholder='Password' autocomplete='off' class='inputField' value='')  
        button(type='submit') Delete
  br  
  if error
    ul.errors
      each err in error
        p!= err.msg