extend layout

block content
  h1 Do You Really Want To Delete Material : #{material.name} ?
  a(href=material.url)
    img(src=material.pic alt=material.name width='100px' height='100px')
  form(method="POST" action='')
    input(type='hidden' name='materialid' id='materialid' value=material._id)
    div.inputForm
      label(for='pw') Admin Password : 
      input(type='text' name='pw' id='pw' placeholder='Password' autocomplete='off' class='inputField' value='' required)  
    button(type='submit' class='submitBtn') Delete

  br
  if error
    ul.errors
      each err in error
        p!= err.msg