extend layout 

block content
  div.pageHeader
    h1= material.name
    div.updaters
      a(href=material.url + '/delete') Delete Material
      a(href=material.url + '/update') Update Material
  hr
  div.content
    p Added By : 
      a(href=material.addedBy.url) #{material.addedBy.name}
    p Drop From : 
      each stage in material.dropFrom
        a(href=stage.url) #{stage.name} 
    img(src=material.pic alt=material.name class='matImg')
    p(style='white-space: pre-wrap')= material.usage
    p(style='white-space: pre-wrap')= material.descrip


   
    
