extend layout

block content
  div.pageHeader
    h1= stage.name
    div.updaters
      a(href=stage.url + '/delete') Delete Stage
      a(href=stage.url + '/update') Update Stage
  hr
  div.stg
    p Added By : 
      a(href=stage.addedBy.url) #{stage.addedBy.name}
    img(src=stage.pic alt=stage.name class='stgImg')
    p Sanity Cost : #{stage.sanity}
    if material 
       p Drops: 
       each mat in material
          a(href=mat.url)
            img(src=mat.pic alt=mat.name class='dropImg')

    p(style='white-space: pre-wrap')= stage.descrip
  
    
    
