extend layout

block content
  h1 Do You Really Want To Delete Stage : #{stage.name} ?
  a(href=stage.url)
    img(src=stage.pic alt=stage.name width='100px')
  form(method="POST" action='')
    input(type='hidden' name='stageid' id='stageid' value=stage._id)
    div.inputForm
      label(for='pw') Admin Password : 
      input(type='text' name='pw' id='pw' placeholder='Password' autocomplete='off' class='inputField' value='' required)  
    button(type='submit' class='submitBtn') Delete

  br  
  if error
    ul.errors
      each err in error
        p!= err.msg